body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-container {
  height: 100vh;  
}

.card-container {
  height: 100%;
}

.card-style {
  width: 18rem;
  height: 60vh !important;
}

.card-image-container{
  width: 90% !important;
  height: 60% !important; 
}

.card-image{
  width: 100% !important;
  height: 100% !important;
  background-size: contain !important;
}
